Pillow==11.1.0
PyYAML==6.0.2
basicsr
diffusers
gradio==6.8.0
ipython==8.30.0
matplotlib==3.10.0
models
numpy==2.1.3
opencv-python==4.12.0.88
scikit-image==0.25.0
scikit-learn==1.6.1
scipy==1.15.3
simple_lama_inpainting
text
torch==2.11.0
utils
